nav {
	background-color: #d9d9d9;
	overflow: hidden;
	text-align: center;
	align-items: center;
}

nav a {
	float: left;
	color: white;
	text-align: center;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	margin: 10px 20px;
	background-color: #0e7ccb;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

nav a.active {
	background-color: dodgerblue;
	color: white;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	flex: 1;
	margin: 5px;
}

.image-container {
	border-radius: 10px;
	overflow: hidden;
	height: 81px;
	margin: 10px;
	background-size: cover;
	background-position: center;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.text-singup {
	background-color: #d9d9d9;
	overflow: hidden;
	text-align: center;
	align-items: center;
	border-radius: 20px;
	margin: 13px;
}

.custom-container {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 20px;
}

h2 {
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	color: white;
	border: 1px solid #ccc;
	background-color: #00a62e;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.left-column {
	flex: 1;
	margin: 0px;
}

.right-column {
	flex: 1;
}

.text-row {
	display: flex;
	align-items: center;
	margin: 10px;
	border-radius: 20px;
}

.text-div {
	flex: 1;
	padding: 10px;
	height: 95px;
	border-radius: 20px;
	background-color: #d9d9d9;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: #d9d9d9;
}
#container{
	padding: 50px;
    height: 100vh;
}